<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3 col-md-5">
        <div class="border">
            <table class="table">
              <h3 class="mx-auto" style="width: 200px">ジャンル名</h3>
              <ul class="">
                <li class="m-3">ジャンル１</li>
                <li class="m-3">ジャンル１</li>
                <li class="m-3">ジャンル１</li>
                <li class="m-3">ジャンル１</li>
              </ul>
            </table>
        </div>
    </div>

        <div class="col-lg-9 col-md-7">
          <h1 class="">test</h1>
        </div>


  </div>
</div>