<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3 col-md-5">
        <div class="border">
            <table class="table">
              <h1>ジャンル名</h1>
              <ul>
                <li>ジャンル１</li>
                <li>ジャンル１</li>
                <li>ジャンル１</li>
                <li>ジャンル１</li>
              </ul>
            </table>
        </div>
    </div>

        <div class="col-lg-9 col-md-7">
          <h1 class="">test</h1>
        </div>


  </div>
</div>